<%- include('includes/header', {title: 'Dashboard'}) %>

<%- include('includes/navigation') %>
<main class='container'>
  <div class="d-flex flex-column align-items-center">
    <h1>Dashboard</h1>
    <% if (session.user) { %>
      <p>Welcome, <%- session.user.firstname %>!</p>
      <a href="/new-event">
        <button class="btn btn-dark m-auto">Add event 📅</button>
      </a>
    <% } else { %>
      <p>Please log in before proceed.</p>
      <a href="/login">Login</a>
    <% } %>
  </div>
  
  <hr />
  <h2 class="text-center">Your events</h2>
  <div class="table-responsive my-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Description</th>
          <th>Alert Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < events.length; i++) { %>
          <tr>
            <td><%- events[i].title %></td>
            <td><%- events[i].eventDate %></td>
            <td><%- events[i].description %></td>
            <td><%- events[i].alertDate %></td>
            <td>
              <div class="d-flex">
                <button type='submit' class="btn btn-sm btn-outline-dark me-2">Edit</button>
                <form action="/event/delete/<%- events[i].id %>" method="post">
                  <button type='submit' class="btn btn-sm btn-danger">Remove</button>
                </form>
              </div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>

    
    <% if(events.length === 0) { %>
        <h2 style="font-size:20px; color:gray;text-align:center;">You don't have events now, perhaps add some?</h2>
    <% } %>
  </div>
</main>

<script>

</script>
<%- include('includes/footer') %>