<%- include('includes/header', {title: 'Dashboard'}) %>

<%- include('includes/navigation') %>
<main class='container'>
  <h1>Dashboard</h1>
  <% if (session.user) { %>
    <p>Welcome, <%- session.user.firstname %>!</p>
  <% } else { %>
    <p>Please log in before proceed.</p>
    <a href="/login">Login</a>
  <% } %>
  
  <a href="/new-event">
    <button class="btn btn-dark m-auto">Add event</button>
  </a>
  <hr />
  <h2 class="text-center">Your events</h2>
  <div class="table-responsive my-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Description</th>
          <th>Alert Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < events.length; i++) { %>
          <tr>
            <td><%- events[i].title %></td>
            <td><%- events[i].eventDate %></td>
            <td><%- events[i].description %></td>
            <td><%- events[i].alertDate %></td>
            <td>
              <div class="d-flex">
                <button type='submit' class="btn btn-sm btn-outline-dark me-2">Edit</button>
                <form action="/event/<%- events[i].id %>" method="post">
                  <button type='submit' class="btn btn-sm btn-danger">Remove</button>
                </form>
              </div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>

<script>
  let loading = true;

  setTimeout(() => {
    loading = false;
  }, 2000)
</script>
<%- include('includes/footer') %>